<!DOCTYPE html>
{% load staticfiles %}
{% load markitup_tags %}
{% load sitetree %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
<link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,900' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock head_title %}{% endblock head_title_base %}</title>
  {% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock viewport %}

  {% block style_base %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  
  {% markitup_css %}


  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  {% block extra_style %}{% endblock extra_style %}
  {% endblock style_base %}

  {% block html5shim %}
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  {% endblock html5shim %}

  {% block extra_head_base %}
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" />
    <script src="https://code.jquery.com/jquery-1.11.0.js"></script>
    {% markitup_js "no-jquery" %}
    {% block extra_head %}{% endblock extra_head %}
  {% endblock extra_head_base %}
</head>

<body class="{% block body_class %}{% endblock body_class %}" id="{% block body_id %}{% endblock body_id %}">

  <div class="{% block wrapper_class %}row{% endblock wrapper_class %}">

    {% block topbar_base %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        {% block topbar %}
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block site_brand %}<a class="navbar-brand" href="{% url 'home' %}">
          <img width="114" height="" class="img-responsive" src="{% static 'images/logo.png' %}"></a>
          {% endblock site_brand %}
        </div>
        <div class="navbar-collapse collapse">
          {% block nav %}
            {% sitetree_menu from "main" include "trunk" template "sitetree/menu_bootstrap3.html" %}
          {% endblock nav %}
          {% block account_bar %}
            {% include "_account_bar.html" %}
          {% endblock account_bar %}

        </div>
        <!--/.nav-collapse -->
        {% endblock topbar %}
      </div>
    </div>
    {% endblock topbar_base %}

    {% block body_base %}
      {% include "_messages.html" %}

      {% block body_outer %}
      <div class="row small-header">
        <div class="container">
            <h1>CMS Page Heading</h1>
        </div>
      </div>

          {% block body %}{% endblock body %}

      {% endblock body_outer %}
      
    {% endblock body_base %}

      </div><!--end of container-->

    {% block footer_base %}
    <div class="row" id="footer">
    <div class="container">
    
      <div class="col-md-6 col-centered">
        <div class="contact-us">Questions? Comments?</div>Contact Us: email@email.com<br>
        Design + Build by
            <a href="http://www.caktusgroup.com">Caktus Consulting Group, LLC</a> using <a href="http://eldarion.com/symposion/" title="Symposion — An Open Platform for Conference Websites">Symposion</a>.
          <p>©{% now "Y" %} DjangoCon</p>
        </div>
     </div>
    </div>
    {% endblock footer_base %}



  {% block script_base %}
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
  {% block extra_script %}{% endblock extra_script %}
  {% endblock script_base %}

  {% block extra_body_base %}
    {% block extra_body %}{% endblock extra_body %}
  {% endblock extra_body_base %}
</body>
</html>
