{% extends "comps/site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load boxes_tags %}
{% load cache %}

{% block page_title %}{% trans "Sponsors Page" %}{% endblock page_title %}

{% block body_class %}full{% endblock body_class %}

{% block body %}

<div class="row small-header">
    <div class="container">
        <h1>Djangocon 2014 Sponsors</h1>
    </div>
</div>

<div class="container no-padding page-content">



    <div class="col-md-7 col-sm-9 col-xs-11 col-centered">

        <div class="col-md-12">
        <h2>Kryptonite</h2>
        </div>

        <div class="row sponsor-detail">
            <div class="col-md-3 sponsor-logo-detail">
                <img width="" height="" class="img-responsive" src="/site_media/static/images/caktus.png">
            </div>
            <div class="col-md-9">
                <h3><a href="#">Caktus Group</a></h3>
                <p>Caktus is a team of sharp web developers and designers who use Django to create high quality web applications. Our passion is bringing our clients' ideas to life by using a process of agile and iterative development to deliver a solid product. We can architect a solution from the beginning or augment your existing internal team to assist with development. In addition to planning, designing, and building fantastic web apps for our clients we also provide developer training. Visit our website to learn more about how we can collaborate on your next project.</p>
            </div>
        </div>

        <div class="col-md-12">
        <h2>Platinum</h2>
        </div>

        <div class="row sponsor-detail">
            <div class="col-md-3 sponsor-logo-detail">
                <img width="" height="" class="img-responsive" src="/site_media/static/images/caktus.png">
            </div>
            <div class="col-md-9">
                <h3><a href="#">Caktus Group</a></h3>
                <p>Caktus is a team of sharp web developers and designers who use Django to create high quality web applications. Our passion is bringing our clients' ideas to life by using a process of agile and iterative development to deliver a solid product. We can architect a solution from the beginning or augment your existing internal team to assist with development. In addition to planning, designing, and building fantastic web apps for our clients we also provide developer training. Visit our website to learn more about how we can collaborate on your next project.</p>
            </div>
        </div>

        <div class="row sponsor-detail">
            <div class="col-md-3 sponsor-logo-detail">
                <img width="" height="" class="img-responsive" src="/site_media/static/images/caktus.png">
            </div>
            <div class="col-md-9">
                <h3><a href="#">Caktus Group</a></h3>
                <p>Caktus is a team of sharp web developers and designers who use Django to create high quality web applications. Our passion is bringing our clients' ideas to life by using a process of agile and iterative development to deliver a solid product. We can architect a solution from the beginning or augment your existing internal team to assist with development. In addition to planning, designing, and building fantastic web apps for our clients we also provide developer training. Visit our website to learn more about how we can collaborate on your next project.</p>
            </div>
        </div>        

        <button type="button" class="btn btn-primary">BECOME A SPONSOR</button>

    </div>
    </div>










{% endblock body %}
