.post-card {
  min-height: 250px;
  color: $blue;
  h4, a {
    color: $blue;
  }
  .btn {
    color: $white;
    text-decoration: none;
  }
  text-align: left;
}

.blue-wrapper .post-card {
  a {
    color: $blue;
  }
}

.blog-categories {
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    margin-left: 0;
  }
}

.post-list {
  .post {
    margin-bottom: 3em;
    h2 {
      margin-bottom: 0;
    }
  }
}

.post-meta {
  display: block;
  font-size: 0.8em;
  margin-bottom: 1em
}

.post-detail {
  h1, h2, h3, h4 {
    margin-top: 2em;
    margin-bottom: 0.825em;
    // &:nth-of-type(1) {
    //   margin-top: 0;
    // }
  }
  ul {
    padding-left: 1.2em;
  }
}
