.footer {
  background-size: cover;
  border-bottom: $poster-border-width solid #fff;
  background-color: $blue;
  margin-bottom: 2em;
  text-align: center;
  color: $white;
  padding-top: 0;
  a, a:active, a:visited {
    color: #fff;
    text-decoration: underline;
  }
  box-shadow: 0px 12px 8px -5px rgba(0, 0, 0, 0.41);
}