body {
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  font-weight: normal;
}

a {
  color: $blue;
}

.arrow-link {
  position: relative;
  &:before {
    text-decoration: none;
    content: '\21E2';
    position: absolute;
    font-size: 1.5em;
    left: -27px;
    top: -7px;
  }
}

section {
  margin-bottom: 4em;
  h3 {
    margin-bottom: 1em;
  }
}
.page-content {
  h1, h2, h3, h4 {
    margin-top: 2em;
    margin-bottom: 0.825em;
    &:nth-of-type(1) {
      margin-top: 0;
    }
  }
  a {
    text-decoration: underline;
  }

}

// FOT DJANGO DBT

// [hidden] {
//   display: block !important;
// }

.search {
  margin-bottom: 2em;
}
img {
  width: 100%;
}

input {
  color: $blue;
}

.btn-ticket {
  color: #fff;
  border-color: $white;
  border: 2px solid;
  background: transparent;
}
