* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  font-weight: normal;
}

a {
  color: $blue;
}

.arrow-link {
  position: relative;
  &:before {
    text-decoration: none;
    content: '\21E2';
    position: absolute;
    font-size: 1.5em;
    left: -27px;
    top: -7px;
  }
}

// FOT DJANGO DBT

// [hidden] {
//   display: block !important;
// }

.search {
  margin-bottom: 2em;
}
img {
  width: 100%;
}