.header {
  position: relative;
  margin-top: 60px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../assets/img/header_bg_plain.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: $blue;
  background-size: cover;
  border-top: $poster-border-width solid #fff;
  @include media-breakpoint-up(md) {
    padding: 9em;
    height: 623px;
  }
}

.interim .header {
  background-image: url(../assets/img/header_bg.jpg);
}
.small-header, .blog-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 60px;
  height: 200px;
  background-color: $blue;
  background-size: cover;
  border-top: $poster-border-width solid #fff;
  color: #fff;
  padding-bottom: 0;
  @include media-breakpoint-up(md) {
    height: 323px;
  }
  h1 {
    z-index: 2;
  }
}

.blog-header, .small-header {
  background-color: #fbfaf6;
  color: $blue;
  padding-top: 6em;

  a {
    position: relative;
    &:before {
      text-decoration: none;
      content: '\21E2';
      position: absolute;
      font-size: 2em;
      left: -19px;
      top:-4px;
    }
  }
  @include media-breakpoint-up(md) {
    height: 200px;
  }
}

.blue-header {
  background: $blue;
  h1, a {
    color: $white;
  }
  a {
    text-decoration: underline;
  }
}

.logo-full {
  width: 300px;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -161px;
}

.header-triangle, .white-header-triangle {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.header-triangle {
  background-image: url(../assets/img/blue_triangle.svg);
}

.white-header-triangle {
  background-image: url(../assets/img/white_triangle.svg);
}