body {
  background: url(../assets/img/wood.jpg) repeat;
  background-size: 200px;
}

.poster-wrapper {
  position: relative;
  border-left: $poster-border-width solid #fff;
  border-right: $poster-border-width solid #fff;
  background-color: $light-gray;
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 2em;
  padding-bottom: 6em;
  @media (min-width: 1300px) {

  }
}

.blue-wrapper {
  text-align: center;
  background: $blue;
  background-image: url(../assets/img/bend.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  color: $white;
  h3,h4,h5 {
    color: $white;
  }

  .white-outline {
    font-family: $font-family-brand;
    text-shadow:1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    0px 1px 0 #fff,
    1px 0px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff;
    letter-spacing: 2px;
    color: $red;
  }

  a, a:active, a:visited {
    color: #fff;
    text-decoration: underline;
  }
}

.poster-shadow {
  z-index: 1;
}

@media (min-width: 1340px) {

  .poster-shadow {
    position: relative;

    padding-left: 20px;
    padding-right: 20px;
    background: url(../assets/img/poster-shadow.png) repeat-y center;
    background-size: 1800px;
    // -webkit-transform-style: preserve-3d;
    // -moz-transform: rotate(1deg);
    // -ms-transform: rotate(1deg);
    // -o-transform: rotate(1deg);
    // -webkit-transform: rotateZ(1deg);
    // transform: rotate(1deg);
  }
}

.t-card, .set {
  display: none;
  transition: opacity 0.3s ease-in;
}
.loading {
  .t-card, .set {
    opacity: 0;
  }
}

@media (min-width: 1300px) {
  .t-card, .set {
    display: block;
    -webkit-transform-style: preserve-3d;
  }
}

.t-card {
  position: fixed;
  background: $white;
  z-index: 0;
  width: 800px;
  height: 1000px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25)
}


.card-cheese-steak{
  width: 200px;
  height: 280px;
  background: white url(../assets/img/cards/card-cheese-steak.jpg) no-repeat center;
  background-size: 100%;
}

.card-stairs {
  width: 200px;
  height: 280px;
  background: white url(../assets/img/cards/card-stairs.jpg) no-repeat center;
  background-size: 100%;
}

.card-phanatic {
  width: 200px;
  height: 280px;
  background: white url(https://media1.giphy.com/media/wRe5uNvV91rsA/200.gif) no-repeat center;
  background-size: 170%;
  background-position-y: top
}

.card-franklin {
  width: 200px;
  height: 280px;
  background: white url(../assets/img/cards/card-franklin.jpg) no-repeat center;
  background-size: 100%;
}

.card-liberty-bell {
  width: 200px;
  height: 280px;
  background: white url(../assets/img/cards/card-liberty-bell.jpg) no-repeat center;
  background-size: 100%;
}

.card-beer {
  width: 200px;
  height: 280px;
  background: white url(../assets/img/cards/card-beer.jpg) no-repeat center;
  background-size: 100%;
}

.card-pretzel {
  width: 200px;
  height: 280px;
  background: white url(../assets/img/cards/card-pretzel.jpg) no-repeat center;
  background-size: 100%;
}

.card-independence-hall {
  width: 200px;
  height: 280px;
  background: white url(../assets/img/cards/card-independence-hall.jpg) no-repeat center;
  background-size: 100%;
}

.score-card {
  width: 600px;
  height: 371px;
  border: 0px solid white;
  background: white url(../assets/img/scorecard.jpg) no-repeat center;
  background-size: 100%;
}

.love-sticker {
  width: 200px;
  height: 200px;
  background: transparent url(../assets/img/love_sticker.png) no-repeat center;
  background-size: 100%;
  box-shadow: none;
}

.django-sticker {
  width: 200px;
  height: 200px;
  background: transparent url(../assets/img/django_sticker.png) no-repeat center;
  background-size: 100%;
  box-shadow: none;
}






.stitches-divider {
  width: 100%;
  height: 60px;
  margin-bottom: 3em;
  background-image: url(../assets/img/stitch.jpg);
  background-repeat: repeat-x;
  background-size: 30px;
}

.home .stitches-divider, .sponsorships-list .stitches-divider {
  background-image: url(../assets/img/stitch.png);
}


.set {
  position: absolute;
  background-size: 100%;
  &.baseball {
    z-index: 1;
    bottom: -32px;
    left: 0;
    width: 144px;
    height: 175px;
    background-image: url(../assets/img/baseball.png);
  }
  &.bat {
    z-index: 2;
    top: 0px;
    right: 0;
    width: 150px;
    height: 450px;
    background-image: url(../assets/img/bat.png);
  }
}

.scotch {
  position: absolute;
  &.scotch-bl {
    bottom: 0;
    left: 0;
  }
  &.scotch-br {
    bottom: -50px;
    right: -70px;
    width: 199px;
    height: 144px;
    background-image: url(../assets/img/scotch-br.png);
  }
}