.reviews {
  .dl-horizontal {
    margin: 0;
  }
  h3 {
    margin-bottom: 1em;
  }
}

.review-form {
  margin-bottom: 2em;
}

.review-box {
  background: #fff;
  padding: 1em;
  p {
    margin-top: 1em;
  }
}

.tab-content {
  padding-top: 2em;
}
