.conference-schedule {
  .stitches-divider {
    background-image: url(../assets/img/stitch.png);
  }
  #schedule-builder label {
    color: #fff;
  }
}
.schedule-wrapper {
  background: $blue;
  .card {
    background: $blue;
    border: 1px solid transparent;
  }
  .content-box {
    color: #fff;
    a {
      color: #fff;
    }
  }
}

.timetable-header {
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  h2 {
    color: $white;
  }
}

.table td, .table th {
  vertical-align: center;
}

th {
  font-family: $font-family-brand;
  color: $white;
}

.table thead th {
  border-bottom: 1px solid #eceeef;
  background: $blue;
}

tbody {
  // tr:nth-child(even) {background: #CCC}
  tr:nth-child(even) {background: #f6f5f1}
}

.time-table-time {
  text-align: center;
  background: $blue;
  margin-top: 2rem;
  padding: 0.2rem 1.4rem 0.1rem 1.4rem;
  font-family: $font-family-brand;
  color: $white;
}

.card-block {
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f9f9f9 0%, #ffffff 36%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f9f9f9 0%,#ffffff 36%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f9f9f9 0%,#ffffff 36%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.card-group.last {
  margin-bottom: 3rem
}

.card-tutorial, .card-talk, .card-keynote, .card-lightning {
  .schedule-block {
    min-height: 13rem;
    .speaker {
      margin-bottom: 0;
    }
    .label-pill {
      margin-top: 2rem;
      padding-right: 0.8em;
      padding-left: 0.8em;
    }
  }
  // background: $blue;
  // color: $white;
  // a {
  //   color: $white;
  // }
}

.label-level {
  background: $red;
}

.schedule-card-footer {
  padding: 0.2rem 0rem 0.1rem 0rem;
  font-family: $font-family-brand;
  background: #5d7eb1;
  color: $white;
}

.presentation-header {
  height: auto;
  text-align: center;
  .presentation-date {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  a:before {
    content: '';
  }
}

.presentation-content {
  // text-align: center;
  h1,h2, h3, h4, h5 {
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    color: $blue;
    list-style: none;
    margin: 0;
  }
}

.presentation-level {
  text-align: center;
  margin-bottom: 2rem;
}

.speaker-profile {
  .bio {
    margin-bottom: 2rem;
  }
  .speaker-photo {
    margin-bottom: 2rem;
  }
}