.sponsorship-level {
  text-align: center;
  padding: 1em 0 0em 0;
  h3 {

    &:after {
      display: inline-block;
      margin: 0 0 8px 20px;
      height: 2px;
      content: " ";
      text-shadow: none;
      background-color: $white;
      width: 30%;
    }
    &:before {
      display: inline-block;
      margin: 0 20px 8px 0;
      height: 2px;
      content: " ";
      text-shadow: none;
      background-color: $white;
      width: 30%;
    }
  }
}

.sponsorship-list {
  margin-bottom: 3em;

  .card-link {
    display: block;
    cursor: pointer;
  }

  .sponsorship-card {
    position: relative;
    width: 100%;
    cursor: pointer;
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.52), 0 1px 2px rgba(0,0,0,0.64);
    padding: 10px;
    color: $blue;
    border-radius: 1em;
    cursor: pointer;
    .card-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h4,h5,h6 {
      color: $blue;
    }
    @include media-breakpoint-up(sd) {}
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
    @include media-breakpoint-up(xl) {}

    a {
      color: $blue;
      text-decoration: none;
    }
  }

  &.diamond, &.platinum {

    .card-link {
      padding-left: 2em;
      padding-right: 2em;
    }

    img {

    }
  }
}

.card-caption {
  margin-top: 2em;
  font-size: 1rem;
}

@include media-breakpoint-up(md) {

  .diamond, .platinum {
    img {
      margin-top: 3em;
      width: 60%
    }
  }

}
