.sponsorship-level {
  text-align: center;
  padding: 1em 0 3em 0;
  h3 {

    &:after {
      display: inline-block;
      margin: 0 0 8px 20px;
      height: 2px;
      content: " ";
      text-shadow: none;
      background-color: $white;
      width: 30%;
    }
    &:before {
      display: inline-block;
      margin: 0 20px 8px 0;
      height: 2px;
      content: " ";
      text-shadow: none;
      background-color: $white;
      width: 30%;
    }
  }
}

.sponsorship-list {
  margin-bottom: 3em;
  .card-link {
    display: block;
    cursor: pointer;
  }
  .sponsorship-card {
    position: relative;
    cursor: pointer;
    @include media-breakpoint-up(sd) {
      height: 100%;
      .card-front, .card-back {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        transition: all 0.5s ease-in;
        background-color: $white;
        padding: 10px;
        color: $blue;
        border-radius: 1em;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0,0,0,0.52), 0 1px 2px rgba(0,0,0,0.64);
        h4,h5,h6 {
          color: $blue;
        }
      }
      .card-back { display: none;}
    }
    @include media-breakpoint-up(md) {
      height: 380px;

      .card-front, .card-back {
          position: absolute;
          top: 0;
          left: 0;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
      }
      .card-back {
        padding: 2em;
        transform: rotateY(-180deg);
        overflow: hidden;
        display: block;
      }

      &:hover {
        .card-front {
          transform: rotateY( 180deg );
        }
        .card-back {
          transform: rotateY(0deg);
        }
      }
    }
    @include media-breakpoint-up(lg) {height: 440px;}
    @include media-breakpoint-up(xl) {height: 490px;}
    cursor: pointer;
    width: 100%;
    perspective: 500px;
    // transform-style: preserve-3d;
    // color: $blue;
    // text-align: left;
    // border-radius: 1.25em;
    // transition: 0.5s;
    background: transparent;
    border: 0px;





    a {
      color: $blue;
      text-decoration: none;
    }

    // .card-img-top {
    //   padding: 1em;
    // }
  }
}
