.sponsorship-level {
  text-align: center;
  padding: 1em 0 3em 0;
  h3 {

    &:after {
      display: inline-block;
      margin: 0 0 8px 20px;
      height: 2px;
      content: " ";
      text-shadow: none;
      background-color: $blue;
      width: 30%;
    }
    &:before {
      display: inline-block;
      margin: 0 20px 8px 0;
      height: 2px;
      content: " ";
      text-shadow: none;
      background-color: $blue;
      width: 30%;
    }
  }
}

.sponsorship-list {
  margin-bottom: 3em;

  .sponsorship-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 0px;
    .card-img-top {
      padding: 1em;
    }
  }
}
