from .dev import *

# Uncomment to install debug_toolbar
#INSTALLED_APPS.append('debug_toolbar')
#MIDDLEWARE_CLASSES.append('debug_toolbar.middleware.DebugToolbarMiddleware')
#DEBUG_TOOLBAR_CONFIG = {
#    "INTERCEPT_REDIRECTS": False,
#}
