{% load sitetree %}
{% load static from staticfiles %}

<nav class="navbar navbar-dark bg-faded main-nav">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <img class="logo-full hidden-sm-down" src="{% static "assets/img/logo-full.png" %}" alt="DjangoCon US logo">
    <ul class="nav navbar-nav">
      {% for item in sitetree_items %}
        {% if item.has_children %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if item.is_current or item.in_current_branch %}{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}{% endif %}" href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ item.title_resolved }}</a>
            <div class="dropdown-menu">
              {% sitetree_children of item for menu template "sitetree/children.html" %}
            </div>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.is_current or item.in_current_branch %}class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>{{ item.title_resolved }}</a>
        {% endif %}
          </li>
      {% endfor %}

    </ul>

    <ul class="nav navbar-nav pull-sm-right">
      <li class="nav-item"><a href="https://defna.ticketbud.com/djangocon-us-2016" class="btn btn-primary btn-ticket">Buy Tickets</a></li>
    {% if user.is_authenticated %}
      <li class="nav-item"><a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a></li>
      <li class="nav-item"><a href="{% url 'account_logout' %}" class="btn btn-primary">Logout</a></li>
    {% else %}
      <li class="nav-item"><a href="{% url 'account_signup' %}" class="btn btn-primary">Register</a></li>
      <li class="nav-item"><a href="{% url 'account_login' %}" class="btn btn-primary">Login</a></li>
    {% endif %}
    </ul>
  </div>
</nav>