{% extends "site_base.html" %}

{% block head_title %}Phor-oh-phor{% endblock head_title %}

{% block page_title %}Phor-oh-phor{% endblock page_title %}

{% block body_id %}phor-oh-phor{% endblock body_id %}

{% block body_class %}cms-page{% endblock %}

{% block body %}
<div class="row base-row">
  <div class="container">
    <h1>Page not found</h1>

    <p>We're sorry but that page could not be found.</p>

    <div class="panel">
      <img src="https://d262ilb51hltx0.cloudfront.net/max/800/1*sXABeKaBTbICxIAPLsnB-Q.gif" />
    </div>
  </div>
</div>
{% endblock body %}
