{% extends "site_base.html" %}

{% load static from staticfiles %}
{% load i18n %}
{% load pinax_boxes_tags %}
{% load waffle_tags %}

{% block head_title %}{% trans "DjangoCon US 2016" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<div class="header poster-wrapper ">
    <img class="" src="{% static "assets/img/head_note.svg" %}">
    <div class="header-triangle"></div>
</div>

<div class="poster-wrapper blue-wrapper interim-teaser">
  <div class="container">
    <section>
      <div class="row">
        <div class="col-md-8 col-md-offset-2"><h1 class="white-outline">DjangoCon.US 2016</h1></div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>DjangoCon US is coming to the City of Brotherly Love!</h3>
          <p>DjangoCon is an international community conference for the community by the community,
          held each year in North America, about the Django web framework.</p>

          <p>We’ve got something for everyone, from the person who develops Django applications for a living to the person who just tinkers in their spare time.
          DjangoCon is a great place to learn, exchange ideas, and meet great people. Our team is making sure that participating in DjangoCon is easy for you!
          <br><a href="">Read more about how we’re making the conference accessible and affordable</a>.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <hr>
        <div class="col-md-8 col-md-offset-2"><h3>Just the facts: </h3></div>
        <div class="col-md-4"><h4 class="white-outline">Tutorials</h4><h5>July 17:</h5><p> 1 day, 6 tutorials, and as many new facts as you can cram into your head! </p></div>
        <div class="col-md-4"><h4 class="white-outline">Talks</h4><h5>July 18-20:</h5><p> We’re recruiting new speakers for a wide range of talks. There will be something for everybody! <a href="">Submit your talk today</a>!</p></div>
        <div class="col-md-4"><h4 class="white-outline">Sprints</h4><h5>July 21-22:</h5><p> Make your first contribution to the Django source code! We’ll have mentors on hand to help you through your first commit.</p></div>
        <div class="col-md-8 col-md-offset-2"><br><h5>We’ve also got some secret events up our sleeve, so stay tuned!</h5> </div>
      </div>
    </section>
    <!--
    <section>
      <div class="row">
        <hr>
        <div class="col-md-8 col-md-offset-2"><h3>DjangoCon US (9th year) text bla bla bla...</h3></div>
        <div class="col-md-6">
          <h5>Code of Conduct</h5>
          <h5>Child care</h5>
          <h5>Dietary requirements</h5>
          <h5>Zero Carbon catering</h5>
          <h5>Venue accessibility</h5>
          <h5>Program</h5>
        </div>
        <div class="col-md-6">
          <h5>Quiet Room</h5>
          <h5>Speaker Mentors</h5>
          <h5>Job fair</h5>
          <h5>Commitment to Diversity</h5>
          <h5>Financial Aid</h5>
        </div>
      </div>
    </section>
    -->
    <section>
      <div class="row">
        <hr>
        <div class="col-md-8 col-md-offset-2"><h3>Welcome to Philadelphia! </h3></div>
        <div class="col-md-8 col-md-offset-2">
          The birthplace of America is a perfect place to make your first commit, give your first talk, or attend your first Django conference! <a href="https://www.wharton.upenn.edu/philadelphia-campus/">The Wharton School of Business</a> is working with us to make this event accessible, fun, and delicious.
          Philadelphia’s rich history, amazing sports teams, quintessentially American cuisine, and classic architecture make it a perfect backdrop to a week spent learning about code.
          The City of Brotherly Love and Sisterly Affection, and all the DjangoCon organizers, welcome you!
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <hr>
        <div class="col-md-8 col-md-offset-2"><h3>News</h3></div>
      </div>
      {% include "includes/news_teasers.html"%}
    </section>
    <section class="newsletter">
      <div class="row">
      <hr>
        <div class="col-md-8 col-md-offset-2"><h3>We’ve got a mailing list!</h3></div>
        <div class="col-md-8 col-md-offset-2">
          <p>[Sign up for our mailing list](link) and be the first to know when the CFP opens, when the schedule is posted, and when anything else potentially interesting happens! <br>We promise not to spam you, sell your data, or blow up your inbox.</p>
          {% include "includes/mailchimp.html" %}
        </div>
      </div>
    </section>


    {% switch "homepage_sponsorship_list" %}
      <section class="sponsors">
        <div class="col-md-8 col-md-offset-2"><h3>Our sponsors:</h3></div>
        {% include "includes/sponsorship_list.html" %}
      </section>
    {% else %}
    {% endswitch %}

  </div>
</div>

{% endblock %}
