{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load sitetree %}
{% load markitup_tags %}

<!DOCTYPE html> <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="//fast.fonts.net/jsapi/59d67ea6-c9ee-4e4b-9993-40a9b28e0c96.js"></script>
    <script src="{% static 'js/base.js' %}"></script>

    {% block extra_css %}
    {% endblock %}
  </head>

  <body class="poster-bg  loading {% block body_class %}{% endblock %}">

    {% block nav %}
      {% sitetree_menu from "main" include "trunk" %}
    {% endblock %}

    {% include "includes/cards.html" %}

    {% include "_messages.html" %}

    <div class="poster-shadow">

      {% block body %}
      {% endblock %}
      {% include "includes/footer.html" %}

    </div>


    {% block extra_js %}

    {% endblock %}

    {% analytics %}
    {% block extra_body %}{% endblock %}

  </body>
</html>
