<!DOCTYPE html>

{% load static %}

<html class="no-js"><!--<![endif]-->
    <head>
      <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>DjangoCon 2014 | Coming Soon!</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <style>
          body {
              padding-bottom: 20px;
          }
      </style>
      <link rel="stylesheet" href="{% static 'css/djangocon.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

      <script src="file://www.google-analytics.com/analytics.js"></script><script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    


 

      <div class="jumbotron">
        <div class="col-md-8 col-centered">
        <div class="main-msg">
         <h1>DjangoCon US 2014</h1>
          </div>
        </div>
      </div><!-- /row -->

      <div class="location">
          <div class="col-md-8 col-xs-10 col-centered">
            <h2>BACK IN ITS ANCESTRAL HOME!</h2>
            <div class="col-md-2 col-sm-2 col-xs-4 col-centered"><hr></div>
          <h2>PORTLAND, OR</h2>
          </div>
      </div> <!-- /row -->



      <div class="top-buffer">
          <div class="col-md-8 col-centered">
          <h3>DATES</h3>
            <p>Social Events: Aug. 30-31</p>
            <p>Tutorials: Sept. 1</p>
            <p>Conference: Sept. 2-4</p>
            <p>Sprints: Sept. 5-6</p>
          </div>
      </div>

          
      <div class="col-md-2 col-sm-2 col-xs-4 col-centered"><hr>
      </div>


      <div class="container ">
      <h3>CALL FOR PROPOSALS</h3>
          <div class="col-md-6 callforpapers">
          
            <p>The call for papers will open when the final conference site is published shortly. We're looking for talks and tutorials on a wide range of subjects, including but not limited to:</p>
            <ul>
            <li>Django in the Enterprise</li>
            <li>Integration with other frameworks</li>
            <li>Case studies</li>
            <li>Django core features</li>
            <li>Performance</li>
            <li>Testing and integration</li>
            <li>...and anything else of interest to the Django community</li>
            </ul>
            </div>
            <div class="col-md-6 callforpapers">
            <p>We invite proposals from all, no matter what your skill level or involvement with Django; we particularly encourage first-time presenters and members of less well-represented groups to submit proposals.  If you have a story to tell about Django, we'd love to hear it!</p>

            <p>Our program consists of talks (25 minutes), longer talks (45 minutes) and tutorials (3 hours).  We also will have poster sessions; these are short sessions specifically designed for introducing new technologies in brief.  And, of course, lightning talks for flash presentations of interesting tidbits.</p>

            <p>No specific skill level or speaking background is required; we are always happy to consider proposals from first-time speakers.</p>

          </div>
      </div>

     
    <div class="col-md-2 col-sm-2 col-xs-4 col-centered"><hr>
    </div>
    

    <div class="container">

      <div class="row bottom-buffer">
        <div class="col-md-12">
          <h3>LAST YEAR'S SPONSORS</h3>
        </div>
      </div><!-- /row -->

        <div class="row top-buffer">
           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://www.coxmediagroup.com"><img width="150" src="{% static 'images/logos/cox-logo.png' %}" /></a>
            </div>
          </div>

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://www.caktusgroup.com"><img width="150" src="{% static 'images/logos/caktus-logo.png' %}" /></a>
            </div>
          </div>         

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://newrelic.com"><img width="150" src="{% static 'images/logos/new-relic-logo.png' %}" /></a>
            </div>
          </div>      

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://www.mandrill.com"><img width="150" src="{% static 'images/logos/mandrill-logo.png' %}" /></a>
            </div>
          </div>

        </div><!-- /row -->

        <div class="row top-buffer">
           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://www.chicagodjango.com"><img width="150" src="{% static 'images/logos/imaginary-landscape-logo.png' %}" /></a>
            </div>
          </div>

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://www.revsys.com"><img width="150" src="{% static 'images/logos/revsys-logo.png' %}" /></a>
            </div>
          </div>         

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://pgexperts.com"><img width="150" src="{% static 'images/logos/pgx-logo.png' %}" /></a>
            </div>
          </div>      

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://www.tryolabs.com"><img width="150" src="{% static 'images/logos/tryo-labs-logo.png' %}" /></a>
            </div>
          </div>

        </div> <!-- /row --> 

        <div class="row top-buffer">
           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://theopenbastion.com"><img width="150" src="{% static 'images/logos/open-bastion-logo.png' %}" /></a>
            </div>
          </div>

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://sproutsocial.com"><img width="150" src="{% static 'images/logos/sproutsocial-logo.png' %}" /></a>
            </div>
          </div>         

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://www.quoininc.com"><img width="150" src="{% static 'images/logos/quoin-logo.png' %}" /></a>
            </div>
          </div>      

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://www.pluralsight.com/training"><img width="150" src="{% static 'images/logos/pluralsight-logo.png' %}" /></a>
            </div>
          </div>

        </div>  <!-- /row --> 

        <div class="row top-buffer">
           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="https://saucelabs.com"><img width="150" src="{% static 'images/logos/sauce-labs-logo.png' %}" /></a>
            </div>
          </div>

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://amplify-nation.com"><img width="150" src="{% static 'images/logos/amplify-logo.png' %}" /></a>
            </div>
          </div>         

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://www.3atmospheres.com"><img width="150" src="{% static 'images/logos/3A-logo.png' %}" /></a>
            </div>
          </div>      

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="https://www.heroku.com"><img width="150" src="{% static 'images/logos/heroku-logo.png' %}" /></a>
            </div>
          </div>

        </div>  <!-- /row -->   

        <div class="row top-buffer">
           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://791tech.com"><img width="150" src="{% static 'images/logos/791-logo.png' %}" /></a>
            </div>
          </div>

           <div class="col-md-3 col-sm-3">
            <div class="logo">
              <a href="http://www.djangoproject.com"><img width="150" src="{% static 'images/logos/django-logo.png' %}" /></a>
            </div>
          </div>          

        </div>  <!-- /row --> 


        <div class="row top-buffer bottom-buffer">
          <div class="col-md-6 col-centered">
            <h3>FOLLOW DJANGOCON FOR UPDATES</h3>
            <a href="http://twitter.com/djangocon" target="_blank"><img width="60" src="{% static 'images/twitter-icon.png' %}" /></a>
          </div>
        </div>

        <div class="row top-buffer bottom-buffer">
          <div class="col-md-6 col-centered">
            <h3>FOLLOW THE OPEN BASTION</h3>
            <a href="http://twitter.com/theopenbastion" target="_blank"><img width="60" src="{% static 'images/twitter-icon.png' %}" /></a>
          </div>
        </div>                 


    </div> <!-- /container -->



        <script src="file://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src=\"{% static 'js/vendor/jquery-1.11.0.min.js' %}\""><\/script>')</script><script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>

        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>


</body>
</html>
