{% extends "site_base.html" %}

{% load sponsorship_tags %}
{% load thumbnail %}
{% load i18n %}
{% load static from staticfiles %}


{% block head_title %}{% trans "About Our Sponsors" %}{% endblock %}

{% block body_class %}sponsorships{% endblock %}

{% block body %}

<div class="blog-header poster-wrapper blue-header">
  <h1>{% trans "About Our Sponsors" %}</h1>
  <a href="{% url "pages_page" "sponsors/prospectus/" %}" class="btn">Learn how to become a sponsor <span class="arrow"></span></a>
</div>

<div class="poster-wrapper blue-wrapper">
  <div class="container">

    {% sponsor_levels as levels %}
    {% for level in levels %}
      {% if level.sponsors %}
        <div class="row sponsorship-level">
          <h3 class="white-outline">{{ level.name }}</h3>
        </div>
        <div class="row sponsorship-list">
          {% for sponsor in level.sponsors %}
            {% if sponsor.website_logo %}
            {% if level.name == 'Gold' %}
              <div class="col-md-4">
            {% elif level.name == 'Silver' %}
              <div class="col-md-3">
            {% elif level.name == 'Bronze' %}
              <div class="col-md-2">
            {% endif %}
                <div class="card sponsorship-card">
                  <img class="card-img-top" src="{% thumbnail sponsor.website_logo '300x300' upscale='True' background='#fbfaf6' %}" alt="{{ sponsor.name }}">
                  <div class="card-block">
                    <h4 class="card-title"><a href="{{ sponsor.external_url }}">{{ sponsor.name }}</a></h4>
                    <p class="card-text">{{ sponsor.listing_text|urlize|linebreaks }}</p>
                    <p class="card-text"><small class="text-muted"><a href="{{ sponsor.external_url }}"> dsafsadf</a></small></p>
                  </div>
                </div>
              </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
              </div>
            {% endif %}

            {% endif %}
          {% endfor %}

      {% endif %}
    {% endfor %}

  </div>
</div>
{% endblock %}
