{% load staticfiles %}

<div class="set baseball"></div>
<div class="set bat"></div>

<div class="t-card score-card" data-degree="10" data-orientation="right" data-posx="80" data-posy="800"></div>


<div class="t-card card-cheese-steak" data-degree="-14" data-orientation="right" data-posx="30" data-posy="500"></div>
<div class="t-card card-stairs" data-degree="22" data-orientation="left" data-posx="90" data-posy="240"></div>
<div class="t-card card-franklin" data-degree="-19" data-orientation="right" data-posx="20" data-posy="150"></div>
<div class="t-card card-beer" data-degree="19" data-orientation="left" data-posx="20" data-posy="750"></div>
<div class="t-card card-liberty-bell" data-degree="12" data-orientation="right" data-posx="150" data-posy="270"></div>
<div class="t-card card-phanatic" data-degree="-14" data-orientation="left" data-posx="30" data-posy="500"><img src="{% static 'assets/img/cards/card-mask-phanatic.png' %}"></div>
<div class="t-card card-pretzel" data-degree="-6" data-orientation="left" data-posx="150" data-posy="870"></div>



<div class="t-card love-sticker" data-degree="-10" data-orientation="left" data-posx="40" data-posy="110"></div>
<div class="t-card django-sticker" data-degree="10" data-orientation="right" data-posx="20" data-posy="400"></div>
