<footer class="footer poster-wrapper ">
<div class="stitches-divider"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h5>Questions? Comments?</h5>
        <a class="arrow-link" href="/contact/">Contact Us</a>
        <br>
        Design + Build by
        <a href="https://www.lincolnloop.com">Lincoln Loop</a> <br>
        Hosted by <a href="http://eldarion.com">Eldarion</a> <br>
        Presented by <a href="http://defna.org">DEFNA</a>
        <p>©2016 DjangoCon US</p>
      </div>
    </div>
  </div>
</footer>
