<div class="sheet" data-degree="3" data-orientation="left" data-posx="120" data-posy="200"></div>
<div class="sheet" data-degree="-3" data-orientation="right" data-posx="120" data-posy="200"></div>
<div class="sheet postcard" data-degree="-3" data-orientation="right" data-posx="20" data-posy="600"></div>
<div class="sheet love-sticker" data-degree="-10" data-orientation="left" data-posx="40" data-posy="400"></div>
<div class="sheet django-sticker" data-degree="10" data-orientation="right" data-posx="20" data-posy="400"></div>

