<div class="sheet" data-degree="-3" data-left="2"></div>
<div class="sheet sheet-2" data-degree="3" data-left="2"></div>
<div class="sheet sheet-3" data-degree="-2" data-left="2"></div>
<div class="sheet sheet-4" data-degree="2" data-left="2"></div>
<div class="sheet sheet-5" data-degree="-1" data-left="2"></div>
<div class="sheet sheet-6" data-degree="1" data-left="2"></div>

<div class="sheet sheet-7" data-degree="90" data-left="2"></div>

<!--<div class="sheet"></div>
<div class="sheet"></div>
<div class="sheet"></div>-->