{% load sponsorship_tags %}
{% load thumbnail %}
{% load i18n %}
{% load static from staticfiles %}

{% sponsor_levels as levels %}
{% for level in levels %}
  {% if level.sponsors %}

    <div class="row sponsorship-level">
      <h3 class="white-outline">{{ level.name }}</h3>
    </div>
    <div class="row sponsorship-list">
      {% for sponsor in level.sponsors %}
        {% if sponsor.website_logo %}

          {% if level.name == 'Diamond' %}
            <div class="col-md-4 diamond">
          {% elif level.name == 'Platinum' %}
            <div class="col-md-4 platinum">
          {% else %}
            <div class="col-md-3">
          {% endif %}

            <a class="card-link" href="{{ sponsor.external_url }}">
              <div class="card sponsorship-card">
                <img class="card-img-top" src="{% thumbnail sponsor.website_logo '300x300' upscale='True' background='#fbfaf6' %}" alt="{{ sponsor.name }}">
                <div class="card-block">
                  <h4 class="card-title">{{ sponsor.name }}</h4>
                  <p class="card-text"><small class="text-muted"> {{ sponsor.external_url }}</small></p>
                </div>
              </div>
            </a>
            {% if level.name == 'Diamond' or level.name == 'Platinum' %}
              <div class="card-caption">
                <p class="card-text">{{ sponsor.annotation|truncatewords:100 }}</p>
              </div>
            {% if level.name == 'Gold'  %}
              <div class="card-caption">
                <p class="card-text">{{ sponsor.annotation|truncatewords:70 }}</p>
              </div>
            {% endif %}
          </div>

          {% if forloop.counter|divisibleby:3 and level.name == 'Diamond' and not forloop.last or forloop.counter|divisibleby:3 and level.name == 'Platinum' and not forloop.last%}
            </div>
            <div class="row sponsorship-list">
          {% elif forloop.counter|divisibleby:4 and not level.name == 'Diamond' and not forloop.last or  forloop.counter|divisibleby:4 and not level.name == 'Platinum' and not forloop.last%}
            </div>
            <div class="row sponsorship-list">
          {% elif forloop.last %}
            </div>
          {% endif %}
        {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
