{% extends "site_base.html" %}

{% load bootstrap %}

{% block head_title %}Upload File{% endblock %}

{% block body %}
<div class="small-header poster-wrapper ">
  <h1>Upload File</h1>
</div>

<div class="poster-wrapper">
  <div class="container">
    <div class="row">

    <form method="POST" action="{% url "file_create" %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>

    </div>
  </div>
</div>
{% endblock %}
