{% extends "site_base.html" %}

{% load sitetree %}
{% load i18n %}
{% load static from staticfiles %}

{% block body_class %}cms-page{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block body %}

<div class="small-header poster-wrapper">
  <h1>{{ page.title }}</h1>
</div>

<div class="poster-wrapper">
  <div class="container">
    {% if editable %}
    <div class="row">
      <a href="{% url 'pages_page_edit' page.path %}" class="btn btn-sm btn-default">
        <i class="fa fa-pencil"></i>
          Edit this page
      </a>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-md-9 col-md-offset-2 page-content">
        {{ page.body_html|safe }}
      </div>
    </div>

  </div>
</div>

{% endblock %}
