{% extends "site_base.html" %}

{% load url from future %}


{% load bootstrap_tags %}
{% load i18n %}
{% load boxes_tags %}

{% block page_title %}{% trans "Create Speaker Profile" %}{% endblock %}

{% block body %}
<div class="row base-row">
 <div class="container">
    <div class="col-md-7 col-sm-9 col-xs-11 col-centered">
    {% box "speaker-profile" %}

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <legend>{% trans "Create Speaker Profile" %}</legend>
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn" href="{% url 'dashboard' %}">Cancel</a>
        </div>
    </form>
    </div>
 </div>
 </div>
{% endblock %}

