{% extends "site_base.html" %}

{% load i18n %}
{% load cache %}
{% load sitetree %}
{% load boxes_tags %}
{% block page_title %}{{ schedule.section.name }}{% endblock %}

{% block extra_head %}
    <style>
        .presentation h3 {
            line-height: 1.1em;
            font-weight: bold;
        }
        .presentation p {
            margin-bottom: 0.5em;
            line-height: 1.2em;
        }
    </style>
{% endblock %}

{% block body %}
<div class="row base-row">
<div class="container">
    {% with ""|add:schedule.section.name as title %}
    <div class="col-md-6 col-centered announcement-msg">
        {% box "schedule_"|add:title|lower  %}
    </div>
    {% endwith %}

    {% cache 600 "schedule-list" schedule.section.name %}
        {% for presentation in presentations %}
                <div class="presentation well">
                    <h3>
                      <a href="{% url 'schedule_presentation_detail' presentation.pk %}">{{ presentation.title }}</a>
                    </h3>
                    <h4>{{ presentation.speakers|join:", " }}</h4>
                    {% if presentation.slot %}
                    <h4>
                      {{ presentation.slot.day.date|date:"l" }}
                      {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
                      in
                      {{ presentation.slot.rooms|join:", " }}
                    </h4>
                    {% endif %}
                    <small>{{ presentation.description }}</small>
                </div>
        {% endfor %}
    {% endcache %}
</div>
</div>
{% endblock %}
