{% extends "symposion/proposals/base.html" %}

{% load pinax_boxes_tags %}
{% load i18n %}

{% block page_title %}{% trans "Submit A Proposal" %}{% endblock %}

{% block body %}
    {% box "proposal_submit" %}

    {% if kinds %}
        <p>Select what kind of proposal you'd like to submit:</p>

        {% for kind in kinds %}
            <a href="{% url "proposal_submit_kind" kind.slug %}" class="btn btn-default">{{ kind }}</a>
        {% endfor %}
    {% else %}
        <p>Proposals are not currently open for submission.</p>
    {% endif %}
{% endblock %}
