{% extends "symposion/reviews/base.html" %}

{% block body %}
<div class="small-header poster-wrapper">
  <h1>{{ section }}</h1>
</div>

<div class="poster-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if reviewed == 'all_reviews' %}
        <h4>All proposals</h4>
        {% elif reviewed == 'user_reviewed' %}
        <h4>Proposals you have reviewed</h4>
        {% else %}
        <h4>Proposals you have not yet reviewed</h4>
        {% endif %}

        {% include "symposion/reviews/_review_table.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
