{% extends "symposion/reviews/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account_tags %}
{% load waffle_tags %}
{% load staticfiles %

{% block review_heading %}Review{% endblock review_heading %}

{% block content %}
    {% if request.user.is_staff %}
        <div class="pull-right">
            <form class="result-form form-inline" method="POST" action="">
                {% csrf_token %}
                <div class="btn-group">
                    {% if proposal.result.status == "accepted" %}
                        <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">Accepted <span class="caret"></span></a>
                        <div class="dropdown-menu pull-right">
                            <div class="btn-group">
                                <input type="submit" name="result_submit" value="reject" class="btn btn-xs btn-danger" />
                                <input type="submit" name="result_submit" value="standby" class="btn btn-xs" />
                                <input type="submit" name="result_submit" value="undecide" class="btn btn-default btn-xs" />
                            </div>
                        </div>
                    {% else %}
                        {% if proposal.result.status == "rejected" %}
                            <a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">Rejected <span class="caret"></span></a>
                            <div class="dropdown-menu pull-right">
                                <div class="btn-group">
                                    <input type="submit" name="result_submit" value="accept" class="btn btn-xs btn-success" />
                                    <input type="submit" name="result_submit" value="standby" class="btn btn-xs" />
                                    <input type="submit" name="result_submit" value="undecide" class="btn btn-default btn-xs" />
                                </div>
                            </div>
                        {% else %}
                            {% if proposal.result.status == "standby" %}
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Standby <span class="caret"></span></a>
                                <div class="dropdown-menu pull-right">
                                    <div class="btn-group">
                                        <input type="submit" name="result_submit" value="accept" class="btn btn-xs btn-success" />
                                        <input type="submit" name="result_submit" value="reject" class="btn btn-xs btn-danger" />
                                        <input type="submit" name="result_submit" value="undecide" class="btn btn-default btn-xs" />
                                    </div>
                                </div>
                            {% else %}
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Undecided <span class="caret"></span></a>
                                <div class="dropdown-menu pull-right">
                                    <div class="btn-group">
                                        <input type="submit" name="result_submit" value="accept" class="btn btn-xs btn-success" />
                                        <input type="submit" name="result_submit" value="reject" class="btn btn-xs btn-danger" />
                                        <input type="submit" name="result_submit" value="standby" class="btn btn-default btn-xs" />
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </form>
        </div>
    {% endif %}

    <h3>
        #{{ proposal.number }}: {{ proposal.title }}
        {# If the `double_blind_reviews` flag is set to True then show the speaker's name. #}
        {% flag double_blind_reviews %}
            ({{ proposal.speaker }})
        {% endflag %}
    </h3>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#proposal-detail" class="nav-link active" data-toggle="tab">{% trans "Proposal Details" %}</a></li>
            <li class="nav-item"><a href="#proposal-reviews" class="nav-link" data-toggle="tab">{% trans "Reviews" %} <span class="badge">{{ reviews|length }}</span></a></li>
            <li class="nav-item"><a href="#proposal-feedback" class="nav-link" data-toggle="tab">{% trans "Speaker Feedback" %} <span class="badge">{{ proposal.messages.all|length }}</span></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="proposal-detail">
                {% include "symposion/proposals/_proposal_fields.html" %}
            </div>
            <div class="tab-pane" id="proposal-reviews">

                <h4>{% trans "Current Results" %}</h4>
                <table class="table table-striped">
                    <thead>
                        <th>+1 votes</th>
                        <th>+0 votes</th>
                        <th>-0 votes</th>
                        <th>-1 votes</th>
                        <th>{% trans "Total Responses" %}
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ proposal.plus_one }}</td>
                            <td>{{ proposal.plus_zero }}</td>
                            <td>{{ proposal.minus_zero }}</td>
                            <td>{{ proposal.minus_one }}</td>
                            <td>{{ proposal.total_votes }}</td>
                        </tr>
                    </tbody>
                </table>

                <hr />

                {% if review_form %}
                    <form method="POST" action="" class="review-form">
                        <legend>{% trans "Submit Review" %}</legend>
                        <p>Enter your vote and any comment to go along with it. You can revise your vote or comment multiple times with an existing vote (your previously recorded score will be replaced during calculations). <b>Your vote and comments are not public and will only be viewable by other reviewers.</b></p>
                        {% csrf_token %}
                            {{ review_form|bootstrap }}
                            <div class="form-action">
                                <input type="submit" class="btn btn-primary" name="vote_submit" value="Submit Review" />
                            </div>
                    </form>
                {% else %}
                    <p>You do not have permission to vote on this proposal.</p>
                {% endif %}

                {% if reviews %}
                    <h5>Review Comments</h5>
                    {% for review in reviews %}
                        <div class="review-box">
                            <div class="vote">
                                <span class="label label-pill label-primary">{{ review.vote }}</span>
                            </div>
                            {% if is_manager %}
                                <div class="pull-right">
                                    <form class="form-inline" action="{% url "review_delete" review.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-xs btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            {% endif %}
                            <div class="review-content">
                                {% if request.user == review.user %}
                                    {# If you submitted the review then show your name #}
                                    <b>{% user_display review.user %}</b>
                                {% else %}
                                    {# If the `double_blind_reviews` flag is set to True, then show the review's name. #}
                                    {% flag double_blind_reviews %}
                                        <b>{% user_display review.user %}</b>
                                    {% endflag %}
                                {% endif %}

                                <span class"muted"> {{ review.submitted_at|timesince }} ago </span>
                                <p>{{ review.comment|safe }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="tab-pane" id="proposal-feedback">
                {% if review_messages %}
                    <h3>{% trans "Conversation with the submitter" %}</h3>
                    {% for message in review_messages %}
                        <div class="comment-box">
                            <div class="commment-content">
                                {% if request.user == message.user %}
                                    {# If you submitted the message then show your name #}
                                    <b>{% user_display message.user %}</b>
                                {% else %}
                                    {# If the `double_blind_reviews` flag is set to True then show the messages submitter's name. #}
                                    {% flag double_blind_reviews %}
                                        <b>{% user_display message.user %}</b>
                                    {% else %}
                                        {# Flag Author messages to avoid confussion #}
                                        {% if proposal.speaker.user == message.user %}
                                            <b>(Author)</b>
                                        {% endif %}
                                    {% endflag %}
                                {% endif %}

                                <em>{{ message.submitted_at|timesince }} ago </em><br>
                                {{ message.message|safe }}
                            </div>
                        </div>
                    {% endfor %}
                    <hr />
                {% endif %}

                <form action="" method="POST"accept-charset="utf-8">
                    <legend>{% trans "Send a message" %}</legend>
                    <p>
                        {% blocktrans %}
                            If you'd like to communicate with the submitter, use the following form and he or she will be
                            notified and given the opportunity to respond.
                        {% endblocktrans %}
                    </p>
                    {% csrf_token %}
                    {{ message_form|bootstrap }}
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" name="message_submit" value="Send Message" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script src="//cdn.jsdelivr.net/history.js/1.7.1/history.js"></script>
    <script src="//cdn.jsdelivr.net/history.js/1.7.1/history.html4.js"></script>
    <script src="//cdn.jsdelivr.net/history.js/1.7.1/history.adapter.jquery.js"></script>
    <script type="text/javascript">
        $(function() {
            History.Adapter.bind(window,'statechange',function(){ // Note: We are using statechange instead of popstate
                var State = History.getState(); // Note: We are using History.getState() instead of event.state
            });

            if (History.getHash()) {
                $(".nav-tabs a[href='" + location.hash + "']").click();
            }
            $(window).bind("anchorchange", function() {
                $(".nav-tabs a[href='" + location.hash + "']").click();
            });

            $('.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if (History.enabled) {
                    History.pushState(null, null, $(e.target).attr("href"));
                }
            });
        });
    </script>

{% endblock %}
