{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load boxes_tags %}
{% load cache %}

{% block head_title %}Contact Us{% endblock head_title %}
{% block page_title %}Contact Us{% endblock page_title %}

{% block body %}
<div class="row base-row">

 <div class="container">
    <div class="col-md-6 col-centered">
        <form action="." method="POST" class="contact-form">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <input type="submit" class="btn" name="submit" value="Submit" />
            <br>
        </form>
    </div>
</div>
</div>
{% endblock body %}
