{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<div class="header poster-wrapper ">
<div class="header-triangle"></div>
    <img class="logo-full" src="{% static "assets/img/logo-full.png" %}">

</div>

<div class="poster-wrapper blue-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3"><h1><strong>DjangoCon US 2016</strong> in Philly</h1></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3"><h3>We are pleased to announce that the DjangoCon US 2016 conference will take place in <strong>Philadelphia, Pennsylvania</strong> from <strong>July 17-22, 2016</strong> at The Wharton School at the University of Pennsylvania:</h3><br><br></div>
    </div>
    <div class="row">
            <div class="col-md-2 col-md-offset-3"><h4>July 17: Tutorials</h4></div>
            <div class="col-md-2 "><h4>July 18-20: Talks</h4></div>
            <div class="col-md-2 "><h4>July 21-22: Sprints</h4></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <br><br>
            <p>
            We have a lot of amazing things planned that we’ll announce over the next few weeks. Until then, here’s what you can do to help!
            </p>
            <p>
            Mark your calendars and help us spread the word!
            Start thinking about topics for when our Call for Proposals is announced.
            </p>
            <p>
            Watch this space, <a href="http://www.twitter.com/DjangoCon">@DjangoCon</a> on Twitter, or follow the discussions on the djangocon-organizers list.
            Sponsor the event!
            Want to help by joining our organizers?
            Start working on those proposals, and we hope we'll see you at DjangoCon US!</p>
        </div>
    </div>
  </div>
</div>

{% endblock %}
