{% extends "site_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load markitup_tags %}

{% block head_title %}{{ speaker.name }}{% endblock %}

{% block body %}
<div class="small-header poster-wrapper">
  <h1>{% trans "Our Speakers" %}</h1>
</div>

<div class="poster-wrapper speaker-profile">
  <div class="container">
    <div class="row">
        <div class="col-md-3">

        {% if speaker.photo %}

          <div class="card speaker-photo">
            <img class="card-img-top" src="{% thumbnail speaker.photo  '218x240' crop %}" alt="{{ speaker.name }}">
            <div class="card-block">
              <h4 class="card-title">{{ speaker.name }}</h4>
            </div>
          </div>

          {% else %}
            &nbsp;
          {% endif %}
        </div>

        <div class="col-md-6 col-md-offset-1">
            {% if speaker.user == request.user or request.user.is_staff %}
                <a class="btn btn-default pull-right" href="{% url "speaker_edit" speaker.pk %}">Edit</a>
            {% endif %}
            <h1>{{ speaker.name }}</h1>
            <div class="bio">{{ speaker.biography|render_markup|safe }}</div>

            <h3>Presentations:</h3>
            {% for presentation in presentations %}
                <h4><a href="{% url "schedule_presentation_detail" presentation.pk %}">{{ presentation.title }}</a></h4>
                {% if presentation.slot %}
                    <p>
                        {{ presentation.slot.day.date|date:"l" }}
                        {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
                        in
                        {{ presentation.slot.rooms|join:", " }}
                    </p>
                {% endif %}
            {% empty %}
                <p>No presentations. This page is only visible to staff until there is a presentation.</p>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
