{% extends "account/base.html" %}

{% load url from future %}
{% load bootstrap %}
{% load i18n %}

{% block body_class %}cms-page account account-settings{% endblock %}

{% block body_title %}{% trans "Account" %}{% endblock body_title %}
{% block head_title %}{% trans "Account" %}{% endblock head_title %}
{% block page_title %}{% trans "Account" %}{% endblock page_title %}

{% block body %}
<div class="row base-row">
    <div class="container">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_settings" %}">
                <legend>{% trans "Account" %}</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
